*{
    text-align: start;
    color: #000;
    font-family: sans-serif;
   
} 
input:focus {
    
    outline: none;
}

input:active {
    
    outline: none;
}


.no-spin::-webkit-inner-spin-button,.no-spin::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.card-info-form{
    padding: 100px 30px 30px 30px;
    position: relative;
    width: 50%;
    max-width: 800px;
    border-radius: 20px;
    background-color: #fff;
    min-height: 300px;
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 15vh;

}

.number-boxes-container{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    
}
.number-box{
    width: 20% ;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 8px 8px 8px;
    margin-top: 8px;

}
.text-box{
    margin-top: 8px;
    width: 99%;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 8px 8px 8px;
    
}
.date-box{
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 8px 8px 8px;
    margin-right: 20px;
    margin-top: 8px;
}
.cvv-box{
    width: 50%;
}
.date-cvv-box{
    display: flex;
    justify-content: space-between;
}
.submit-button{
    
    margin-top: 24px;
    width: 90%;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    margin-left: 5%;
}
.card{
    position: absolute;
    margin-top: -100px;
    left: 50%;
    transform-style: preserve-3d;
    transition: all 600ms;
}
.flip{
    transform: rotateY(180deg);
}
.card__front,.card__back{
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card__front{
    background-image: linear-gradient(to right bottom, #d60533, #db0d63, #d0338f, #b853b5, #946ccf, #7482e3, #4b96ef, #00a7f3, #00befa, #00d4fb, #0ee8f7, #5ffbf1);
    position: absolute;
    border-radius: 12px;
    width: 350px;
    height: 200px;
    
    top: -100px;
    left: calc(50% - 175px);
}
.card__back{
    transform: rotateY(180deg);
    background-image: linear-gradient(to right bottom, #d60533, #db0d63, #d0338f, #b853b5, #946ccf, #7482e3, #4b96ef, #00a7f3, #00befa, #00d4fb, #0ee8f7, #5ffbf1);
    position: absolute;
    border-radius: 12px;
    width: 350px;
    height: 200px;
    top: -100px;
    left: calc(50% - 175px);
}
.card-chip{
    margin-left: -30px;
    margin-top: calc(50% - 160px);
    width: 170px;
}
.front-card-number{
    color: #fff;
    font-weight:300;
    font-size: 28px;
    margin:-20px 0px 0px 24px;
}
.front-card-date-name{
    display: flex;
    justify-content: space-between;
}
.front-card-name,.front-card-date{
    margin-left: 28px;
    margin-right: 28px;
    font-size: 12px;
    opacity: 80%;
    color: #fff;

}

.strong{
    font-size: 18px;
    color: #fff;
    opacity: 100%;

}
.button {
    height: 50px;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

.button:active {
    transform: translateY(5px);
    transition: 200ms;
}
.btn-red{
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    background-color: rgb(255, 56, 86);

}
.btn-red:hover{
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}
.logo{
    width: 150px;
    position: absolute;
    top: 28px;
    right: 32px;
}
.black-bar{
    margin-top: 24px;
    width: 100%;
    height: 50px;
    background-color: #000;
}
.back-card-cvv{
    margin-top: 12px;
    margin-left: 60% ;
    color: #fff;
    font-weight: 600;

}

.cvv-field{
    background-color: white;
    max-width: 60px;
    min-height: 25px;
    border-radius: 8px;
    color: #000;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    margin-top: 8px;


}
.board{
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;

}
th,td{
    padding: 8px ;
    width: 30%;
    outline: 1px solid #000;
}
@media (max-width: 720px) {
    .button{
        font-size: 12px;
    }
    .section-title{
        font-size: 12px;
    }
    .card-info-form{
        padding-left: 14px;
        padding-right: 14px;
        width: 80%;
    }
    .text-box{
        width: 94%;
    }
    .board{
        width: 80%;
    }
    
    }
@media (max-width: 360px) {
    .number-box{
        width: 30%;
    }
}